* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;

}

.esquerda {
    flex: 1;
    background-color: rgb(15, 67, 223);
    
    display: flex;
    align-items: center;
    justify-content: center;


}

.direita {
    flex:1;
    background-color:white ;


    display: flex;
    align-items: center;
    justify-content: center;

}

#container {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
    border: 2px solid;
    padding: 20px;

}

#container input,
#container button{
    padding: 10px;
}

button{
    background-color: brown;
    border:none;
    border-radius:8px  ;
    
}
